/* App Component */
.App {
	font-family: "Karla", sans-serif;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

main {
	background-color: #F5F5F5;
	height: 40em;
	width: 40em;
	border-radius: 10px;
	box-shadow: rgba(254, 254, 254, 0.25) 0px 13px 27px -5px, rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
    font-size: 40px;
    margin: 0;
}

.instructions {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
	margin-top: 1em;
}

.timer {
	display: flex;
	justify-content: space-around;
	width: 25vw;
}

.timer h3 {
	margin: 10px;
}

.dice-container {
	display: grid;
	grid-template: auto auto / repeat(5, 1fr);
	gap: 20px;
	margin-top: 3em;
}

.roll-dice {
	margin-top: 3em;
	height: 50px;
	width: 150px;
	border: none;
	border-radius: 6px;
	background-color: #5035FF;
	color: white;
	font-size: 1.2rem;
	font-family: 'Karla', sans-serif;
	cursor: pointer;
}

.roll-dice:focus {
	outline: none;
}

.roll-dice:active {
	box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

/* App Component */


/* Dice Component */
.dice-face {
	height: 55px;
	width: 55px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	/* align-items: center; */
	cursor: pointer;
	background-color: white;
	padding: 12%;

}

/* .dice-num {
	font-size: 2rem;
} */

.dot {
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: rgb(50, 50, 50);
}

.dice {
	width: 2.5em;
}

.first-face {
	display: flex;
	justify-content: center;
	align-items: center;
}

.second-face,
.third-face,
.fourth-face,
.fifth-face,
.sixth-face {
	display: flex;
	justify-content: space-between;
}

.second-face .dot:nth-of-type(2),
.third-face .dot:nth-of-type(3) {
	align-self: flex-end;
}

.third-face .dot:nth-of-type(1) {
	align-self: flex-start;
}

.third-face .dot:nth-of-type(2),
.fifth-face .column:nth-of-type(2) {
	align-self: center;
}

.fourth-face .column,
.fifth-face .column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* Dice Component */

/* Footer Component */
footer {
	text-align: center;
	font-size: 1em;
	color: #351600;
	background-color: aliceblue;
	border-radius: 10px;
	border-top: 2px solid #f3f2f7;
	margin-top: 2em;
	width: 20em;
}

footer p {
	padding: 0.7em 0;
	margin: 0;
}

footer a {
	text-decoration: none;
	color: #3da2e0;
}

footer a:hover {
	filter: opacity(40%);
}

/* Footer Component */