.App {
	font-family: "Karla", sans-serif;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

main {
	background-color: #F5F5F5;
	height: 40em;
	width: 40em;
	border-radius: 10px;
	box-shadow: rgba(254, 254, 254, 0.25) 0px 13px 27px -5px, rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.dice-container {
	display: grid;
	grid-template: auto auto / repeat(5, 1fr);
	gap: 20px;
}

/* Dice Component */
.dice-face {
	height: 50px;
	width: 50px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: white;
}

.dice-num {
	font-size: 2rem;
}

.dot {
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: rgb(2, 2, 2);
}

.first-face {
	display: flex;
	justify-content: center;
	align-items: center;
}

.second-face {
	display: flex;
	justify-content: space-between;
}

/* Dice Component */